body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

.app-elements {
  margin: 20px auto;
  width: 95vw;
  max-width: 500px;
}

h1 {
  color: black;
  margin: -1px;
}

h2 {
  color: black;
  font-size: 5rem;
  margin: -5px 0px -18px 0px;
}

h3 {
  color: black;
  margin: 15px 0px -15px 0px;
  font-size: 1.4rem;
}

button {
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  margin: 15px 10px 0px 0px;
  touch-action: manipulation;
}

#save-el {
  color: black;
  margin-bottom: -2px;
  line-height: 1.8;
  font-size: 1.2rem;
}

#total-el {
  color: black;
  margin: 32px 0 -10px 0;
  line-height: 1;
  font-size: 1.3rem;
}

#current-time {
  color: black;
  font-size: 1.2rem;
}

.manual-counter {
  background-color: hsl(0, 0%, 85%);
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
}

.increase {
  height: 80px;
  width: 200px;
  background-color: hsl(118, 100%, 73%);
  font-size: 2rem;
  display: block;
}

.save {
  height: 40px;
  width: 80px;
  font-size: 1.2rem;
}

.time-save {
  background-color: hsl(0deg, 0%, 65%);
  height: 40px;
  width: 240px;
  font-size: 1.2rem;
}

.time-counter {
  background-color: hsl(0deg, 0%, 85%);
  border-radius: 10px;
  padding: 1px;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.author {
  color: black;
  font-style: italic;
  text-align: center;
  font-size: 16px;
}

a {
  color: black;
}